h1{
    color:blue;
    font-size: 50px;
    text-transform: capitalize;
}

li::marker{
    color:red;
}

li{
    list-style:square;
}

body{
    font-family: Verdana;
    background-color: lightgray;
}
